<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <div>
          <label for="email"></label>
          <input type="email" name="email" id="email" />
          @if(flashMessages.has('errors.email'))
          <small>{{ flashMessages.get("errors.email") }}</small>
          @endif
        </div>
        <div>
          <label for="password"></label>
          <input type="password" name="password" id="password" />
          @if(flashMessages.has('errors.password'))
          <small>{{ flashMessages.get("errors.password") }}</small>
          @endif
        </div>
        <div>
          <input type="submit" value="Login" />
        </div>
      </form>
</body>
</html>