<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>
  </head>
  <body>
    <section>
      <form action="/signup" method="post">
        <div>
          <label for="name"></label>
          <input type="text" name="name" id="name" />
          @if(flashMessages.has('errors.name'))
          <small>{{ flashMessages.get("errors.name") }}</small>
          @endif
        </div>
        <div>
          <label for="email"></label>
          <input type="email" name="email" id="email" />
          @if(flashMessages.has('errors.email'))
          <small>{{ flashMessages.get("errors.email") }}</small>
          @endif
        </div>
        <div>
          <label for="password"></label>
          <input type="password" name="password" id="password" />
          @if(flashMessages.has('errors.password'))
          <small>{{ flashMessages.get("errors.password") }}</small>
          @endif
        </div>
        <div>
          <label for="password_confirmation"></label>
          <input
            type="password_confirmation"
            name="password_confirmation"
            id="password_confirmation"
          />
        </div>
        <div>
          <input type="submit" value="Sign Up" />
        </div>
      </form>
    </section>
  </body>
</html>
