@layout('layouts/app')

@section('content')
    @if(auth.isAuthenticated)
        <h1>{{auth.user.name}}</h1>
        <form action="/logout" method="post">
            <button type="submit">Sign Out</button>
        </form>
    @else
        <a href="/login">Login</a>
    @endif
@endsection