@layout('layouts/app')

@section('content')
    <h1>Update Your Details</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <label for="details">
            <input type="text" name="details">
            <input type="file" name="avatar" id="">
            <input type="submit" value="Update">
        </label>
    </form>
@endsection