@layout('layouts/app')

@section('content')
    <div class="flex justify-center">
        <div class="m-auto text-center">
            <h1>Sorry, this page isn't available.</h1>
            <p class="text-gray-800 text-sm mt-6">The link you followed may be broken, or the page may have been removed. Go back to Instagram.</p>
        </div>
    </div>
@endsection